.progress{
    padding: 10px;
    border-radius: 8px;
    padding: 15px;
    display: block;
    height: 90%;
     & > span{
      display: flex;
      align-items: center;
      column-gap: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid lightgray;
     }
     .progress__wrapper{
       
        display: flex;
        align-items: center;
        margin: 20px 0;
        column-gap: 20px;
        .cards__content{
            display: flex;
            align-items: baseline;
            column-gap: 2px;
            h2{
                font-weight: bolder;
            }
        }
     }
     .progress__wrapper2{
        display: flex;
        overflow: hidden;
      border: 1px solid gray;
     width: max-content;
     border-radius: 20px;
      span:nth-child(1){
        display: block;
        height: 37px;
        background-color:green;
      };
      span:nth-child(2){
        display: block;
        height: 37px;
        background-color: blue;
      };
      span:nth-child(3){
        display: block;
        height: 37px;
        background-color:black;
      };
      span:nth-child(4){
        display: block;
        height: 37px;
        background-color:#F15832;
      }

        
     }
     .label{
        display: flex;
        column-gap: 100px;
        margin-top: 20px;
        .label__left{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
           
            
        p:nth-child(1){
            display: flex;
            align-items: center;
            width: max-content;

            span{
                display: block;
                height: 20px;
                width: 20px;
                border-radius: 50px;
                margin-right: 10px;
                background-color:green;
              }
        };
          p:nth-child(2){
            display: flex;
            align-items: center;
            span{
                display: block;
                height: 20px;
                width: 20px;
                border-radius: 50px;
                margin-right: 10px;
                background-color: blue;
              };
          }
        }
        .label__right{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            p:nth-child(1){
                display: flex;
                align-items: center;
               
                span{
                    display: block;
                    height: 20px;
                    width: 20px;
                    border-radius: 50px;
                    margin-right: 10px;
                    background-color:black;
                  }
            }
          ;
          p:nth-child(2){
            display: flex;
            align-items: center;
            
            span{
                display: block;
                height: 20px;
                width: 20px;
                margin-right: 10px;
                border-radius: 50px;
                background-color:#F15832;
              }
          }
        }
    

     }
    

}