
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}